<div id="main-map-container">
  <div id="updates-list"></div>
  <div id="main-map"></div>
</div>
<div class="dropdown menu-ui" id="menu-ui">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Map Options
  <span class="caret"></span></button>
  <ul class="dropdown-menu menu-ui-drop">
    <li><a href='#' class='active' id='filter-all'>All</a></li>
    <li><a href='#' id='filter-spots'>Surf Spots</a><li>
    <li><a href='#' id='filter-businesses'>Contributors</a></li>
  </ul>
</div>





<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
        <div class="conditions myradio">
        </div>
        <div class="contributor"></div>
      </div>
      <div class="modal-body modal-split">
        <div class="row">
          <div class="col-md-6">
            <div class="chosen-add">Adds</div>
          </div>
          <div class="col-md-6 modal-pictures">Pics</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>