<div id="main-map-container">
<div id="checks-list"></div>
<div id="main-map"></div>
</div>
<nav id='menu-ui' class='menu-ui'>
  <a href='#' class='active' id='filter-all'>All</a>
  <a href='#' id='filter-spots'>Surf Spots</a>
  <a href='#' id='filter-businesses'>Contributors</a>
</nav>