#map-for-user {
	height: 450px;
	width: 100%;
}

.update-button {
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.avatar-edit {
	width: 50%;
	padding:8px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	background-color:white
}
.public-avatar {
  width: 100%;
  padding:8px;
  border:solid;
  border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
  border-width: 1px 2px 2px 1px;
  background-color:white
}

.centered {
	text-align: center;
}

#main-map-container {
	display: flex;
	flex-direction: row;
}
#updates-list {
	width: 25%;
	flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 550px;
  overflow: auto;
}

#main-map {
	height: 700px;
	flex-grow: 1;
}
@media screen and (max-width: 800px) {
  #main-map-container {
  display: flex;
  flex-direction: column;
  }
  #updates-list {
    width: 100%;
    height: 180px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  #main-map {
    height: 700px;
    flex-grow: 1;
  }

}

.leaflet-popup-content img {
  max-width:100%;
 }

.menu-ui-drop {
  min-width: 120px;
}

.menu-ui {
  background:#fff;
  position:absolute;
  top:90px;
  right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
}
.menu-ui a {
  font-size:13px;
  color:#404040;
  display:block;
  margin:0;padding:0;
  padding:10px;
  text-decoration:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  text-align:center;
}
.menu-ui a:first-child {
  border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
  border:none;
  border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
  background:#f8f8f8;
  color:#404040;
}
.menu-ui a.active,
.menu-ui a.active:hover {
  background:#3887BE;
  color:#FFF;
}


.form-wrapper {
  background-color: #EEEEEE;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}

.form-group-title {
  // padding: 10px;
  // font-size: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.myradio {
  margin: 2px;
  padding: 10px;
  flex-grow: 1;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.timebox {
  padding: 7px;
}

.update-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  margin-bottom: 8px;
  padding: 4px;
}


.update-pics {
  display: flex;
  flex-direction: row;
}
.up-pic {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.up-pic img {
  padding: 2px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
}
.new-update {
  width: 100%;
  border-radius: 0px;
}

.modal-pictures img {
  max-width: 100%;
}

.modal-split {
  // display: flex;
  // flex-direction: row;
}
.chosen-add {
  // flex-shrink: 0;
  // width: 50%;
  background-color: #EEEEEE;
  padding: 20px;
  margin-left: 10px;
}
.modal-pictures {
  // flex-grow: 1;
  height: 400px;
  overflow: auto;
}
.conditions {
  display: flex;
  flex-direction: row;
}
.cond-detail {
  flex-grow: 1;
}
.modal-header h4 {
  text-align: center;
}
.my-ads {
  display: flex;
  flex-direction: row;
}
.create-ads {
  flex-shrink: 0;
  width: 30%;
}
.show-ads {
  flex-grow: 1;
}
.public-special {
  max-width: 100%;
}
