#map-for-user {
	height: 350px;
	width: 100%;
}

.update-button {
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.avatar-edit {
	width: 50%;
	padding:8px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	background-color:white
}

.centered {
	text-align: center;
}

#main-map-container {
	display: flex;
	flex-direction: row;
}
#checks-list {
	width: 20%;
	flex-shrink: 0;
}

#main-map {
	height: 700px;
	flex-grow: 1;
}

.leaflet-popup-content img {
  max-width:100%;
 }
