body {
    background-image: url("/images/surfing_pic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#map-for-user {
	height: 450px;
	width: 100%;
}

.update-button {
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.avatar-edit {
	width: 50%;
	padding:8px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	background-color:white
}
.public-avatar {
  width: 100%;
  padding:8px;
  border:solid;
  border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
  border-width: 1px 2px 2px 1px;
  background-color:white
}

.centered {
	text-align: center;
}

#main-map-container {
	display: flex;
	flex-direction: row;
}
#updates-list {
	width: 25%;
	flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 550px;
  overflow: auto;
}

#main-map {
	height: 700px;
	flex-grow: 1;
}
@media screen and (max-width: 800px) {
body {
    background-image: url("/images/surfing_pic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300%;
}
  #main-map-container {
  display: flex;
  flex-direction: column;
  }
  #updates-list {
    width: 100%;
    height: 180px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  #main-map {
    height: 700px;
    flex-grow: 1;
  }

}

.leaflet-popup-content img {
  max-width:100%;
 }

.menu-ui-drop {
  min-width: 120px;
}

#menu-ui {
    border-radius: 5px;

}
.menu-ui {
  background:#fff;
  position:absolute;
  top:90px;
  right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
}
.menu-ui a {
  font-size:13px;
  color:#404040;
  display:block;
  margin:0;padding:0;
  padding:10px;
  text-decoration:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  text-align:center;
}
.menu-ui a:first-child {
  border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
  border:none;
  border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
  background:#f8f8f8;
  color:#404040;
}
.menu-ui a.active,
.menu-ui a.active:hover {
  background:#3887BE;
  color:#FFF;
}


.form-wrapper {
  background-color: rgba(0,0,0,0.6);
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  color: #fff;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group-title {
  // padding: 10px;
  // font-size: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.myradio {
  margin: 2px;
  padding: 10px;
  flex-grow: 1;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(0,102,204,0.9);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.timebox {
  padding: 7px;
}

.update-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px;
}


.update-pics {
  display: flex;
  flex-direction: row;
}
.up-pic {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.up-pic img {
  padding: 2px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
}
.new-update {
  width: 100%;
  border-radius: 0px;
}

.modal-pictures img {
  max-width: 100%;
}

.modal-split {
  margin-right:10px;

}
.chosen-add {
  background-color: #EEEEEE;
  padding: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.modal-pictures {
  // flex-grow: 1;
  height: 400px;
  overflow: auto;

}
.modal-header h4 {
  text-align: center;
}
.my-ads {
  display: flex;
  flex-direction: row;
}
.create-ads {
  flex-shrink: 0;
  width: 30%;
}
.show-ads {
  flex-grow: 1;
}
.public-special {
  max-width: 100%;
}
#images_ {
    display: inline-block;
    padding: 100px 0 0 0;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("/images/add.png") no-repeat;
    border-color: transparent;
}


select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: transparent; /* fallback color if gradients are not supported */
    background-image: url(/images/select-arrow.png), -webkit-linear-gradient(top, transparent, transparent); /* For Chrome and Safari */
    background-image: url(/images/select-arrow.png), -moz-linear-gradient(top, transparent, transparent); /* For old Fx (3.6 to 15) */
    background-image: url(/images/select-arrow.png), -ms-linear-gradient(top, transparent, transparent); /* For pre-releases of IE 10*/
    background-image: url(/images/select-arrow.png), -o-linear-gradient(top, transparent, transparent); /* For old Opera (11.1 to 12.0) */ 
    background-image: url(/images/select-arrow.png), linear-gradient(to bottom, transparent, transparent); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-size: inherit;

}
#update_choose_special {
  width: 100%;
  border: none;
}